{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load mathfilters %}

{% block content %}
    <!-- Login Section -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
          <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
              <div class="card shadow-sm">
                <div class="card-body">
                  <h2 class="text-center mb-4">Login</h2>
                  <form id="main-content" action="{% url 'users:login' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="username" class="form-label">Username</label>
                      <input type="text" class="form-control" id="username" name="username"required>
                      {{ form.email.errors }}
                    </div>
                    <div class="mb-4"> 
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password" required>
                      {{ form.password.errors }}
                    </div>
                    <button type="submit" class="btn btn-outline-dark w-100">Login</button>
                  </form>
                  <div class="mt-3 text-center">
                    <a href="#" style="margin-right: 10px">Forgot Password?</a> 
                    <a href="{% url 'users:register' %}">Create Account</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
